@{
    ViewData["Title"] = "Tipo de usuario";
}

<h2>Tipo de usuario</h2>
<div class="mt-4">
    <a asp-controller="Voluntario" asp-action="Paso1" class="btn btn-primary me-2">Voluntario</a>
    <a asp-controller="Organizacion" asp-action="Paso1" class="btn btn-outline-primary">Organización</a>
</div>

