html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Estilo de botones */
/* Boton con sin relleno y borde aranajado*/
.btn-racacoca-anaranjado-linea {
    background: transparent;
    color: #ce2007;
    border: 1px solid #ce2007 !important;
}
.btn-racacoca-anaranjado-linea:hover {
    background: #ce2007;
    color: #fff;
}
/* Boton con relleno aranajado*/
.btn-racacoca-anaranjado {
    background: #ce2007;
    color: #ffffff;
    border: 1px solid #ce2007;
}

.btn-racacoca-anaranjado:hover {
    background: #ce2007;
    color: #fff;
}
/* Boton con sin relleno y borde verde*/
.btn-racacoca-verde-linea {
    background: transparent;
    color: #065824;
    border: 1px solid #065824 !important;
}

.btn-racacoca-verde-linea:hover {
     background: #065824;
     color: #fff;
}
/* Boton con relleno verde*/
.btn-racacoca-verde {
    border: 1px solid #065824;
    color: #ffffff;
    background: #065824;
}
.btn-racacoca-verde:hover {
    color: #ffffff;
    background: #065824;
}
/* Boton con sin relleno y borde verde*/
.btn-racacoca-verde-linea {
    background: transparent;
    color: #065824;
    border: 1px solid #065824 !important;
}

.btn-racacoca-verde-linea:hover {
     background: #065824;
     color: #fff;
}
/* Boton con relleno verde*/
.btn-racacoca-verde {
    border: 1px solid #065824;
    color: #ffffff;
    background: #065824;
}
.btn-racacoca-verde:hover {
    color: #ffffff;
    background: #065824;
}
/* Boton con sin relleno y borde negro*/
.btn-racacoca-negro-linea {
    background: transparent;
    color: #111111;
    border: 1px solid #111111 !important;
}

.btn-racacoca-negro-linea:hover {
    background: #111111;
    color: #fff;
}
/* Boton con relleno negro*/
.btn-racacoca-negro {
    border: 1px solid #111111;
    color: #ffffff;
    background: #111111;
}
.btn-racacoca-negro:hover {
    color: #ffffff;
    background: #111111;
}

/* Estilo de botones */